__pycache__/
*.pyc
templates/skribble/cloudflared
templates/skribble/captures.json
templates/skribble/logo.gif
templates/skribble/leaflet.js
templates/skribble/leaflet.css
templates/skribble/world.geojson
